<div id="search" class="search__wrapper">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" />
  <button class="button__green" type="button" aria-label="{{ text_search }}">
    <span>{{ text_search }}</span>
    <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7 1L12 5M12 5L7 9M12 5H0" stroke="white" />
    </svg>
  </button>
</div>