<tr class='product_row'>
    <td class='product_name'>
        <input type='text' class='form-control' readonly name='set[{si}][products][{pi}][product_name]'>
        <input type='hidden' name='set[{si}][products][{pi}][product_id]' value=''>
    </td>

    <td class='quantity'>
        <input type='number' min='1' name='set[{si}][products][{pi}][quantity]' value='1' class='form-control'>
    </td>
    <td>
        <input type='text' value='0' class='form-control' name='set[{si}][products][{pi}][discount]'>
    </td>
    <td class='delete'>
        <button class='btn btn-warning del_product'><i class='fa fa-minus'></i></button>
    </td>
</tr>